html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* General Styles*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ffffff;
    
    color: #333;
} 
@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Variable Concept';
    src: url('fonts/Acumin-BdItPro.otf') format('opentype');
    font-weight: 900; 
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-SemiBold.otf') format('opentype');
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Heavy.otf') format('opentype');
    font-weight: 900; /* Typically heavy is 900 */
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Regular.otf') format('opentype');
    font-weight: 400; /* Regular is typically 400 */
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Light.otf') format('opentype');
    font-weight: 300; /* Light is typically 300 */
    font-style: normal;
}

/* MONT BOLD */
.nav-links li a, #order-whatsapp{
    font-family: 'Mont', Arial, sans-serif;
    font-weight: bold;
}
/* ACUMIN VARIABLE CONCEPT */
span{
    font-family: 'Acumin Variable Concept', Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
}
/* MONT-SEMIBOLD */
p{
    font-family: 'Mont', Arial, sans-serif;
    font-weight: 600;
}

/* MONT REGULAR */
 .whoweare p, .ourmission p,.contact-container{
    font-family: 'Mont', Arial, sans-serif; /* Fallback to Arial and sans-serif */
    font-weight: 400; /* Default to Mont Regular */
}

/* MONT HEAVY */
 .whoweare h2, .ourmission h2, .drinkguiltfree h1, .products h1{
    font-family: 'Mont', Arial, sans-serif;
    font-weight: 900; /* Apply Mont Heavy */
}
/* MONT LIGHT */
 .drinkguiltfree span{
    font-family: 'Mont', Arial, sans-serif; /* Fallback to Arial and sans-serif */
    font-weight: 300; /* Use Mont Light by default */
}
.container {
    /* max-width: 1200px; */
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
header {
    color: #fff;
    padding: 15px 0;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.logo{
    display:flex;
    max-width: 150px;
}
nav {
    display: flex;
    justify-content: space-between; 
    padding: 0 10px;               
    /* align-items:center; */
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    padding: 0;
}
.nav-links li {
    margin: 0 30px; 
    margin-top: 40px; 
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    display: flex;
    align-items: center;
    padding: 5px 0; 
    transition: color 0.3s, transform 0.3s; 
}
.nav-links li a:hover {
    color: #60adff; 
    transform: translateY(-5px); 
    transition: transform 0.3s, box-shadow 0.3s;

}

.nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0; 
    height: 2px;
    background-color: #60adff; 
    transition: width 0.3s ease; 
}

.nav-links li a:hover::after {
    width: 100%; 
}

.socials {
    display: flex;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: -130px;
}
.socials a {
    color: #fff;
    padding: 5px;
    transition: color 0.3s;
}
/* Hero Section */
.hero {
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}
.hero span {
    font-size: 2.5em;
    font-weight: bold;
}
.hero p {
    font-size: 15px;
}

#order-whatsapp {
    margin-top: 90px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #ffffff;     
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}
#order-whatsapp:hover {
    background-color: #ffffff56;
}
.background-container {
    background-image: url('img/img1.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 225vh; 
    overflow: hidden; 
}
.cutout{
    .cutout-container {
        position: relative; 
        display: inline-block;
    }
}
.cutout-container{
    margin-top: -340px;
    margin-left: -800px;
    justify-content: center;
    overflow: hidden;
}
.vitaminc, .electrolytes, .antioxidants, .vitaminb {
    position: absolute; 
}
.vitaminc {
    top: 220%; 
    left: -3%; 
    width: 350px; 
}
.vitaminb {
    top: 215%;
    right:4%;
    width:350px;
}

.electrolytes {
    top: 215%; 
    left: 20%; 
    width: 350px; 
}

.antioxidants {
    top: 218%; 
    right: 25%; 
    width: 350px;
}

/* .black-background{
    background-color: #000000;
} */
.background2-container {
    background-image: url('img/img2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    margin-top: -400px;
    overflow: hidden;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    padding: 60px 20px;
}

.whoweare,
.ourmission {
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 20px; 
    color: #ffffff;
}

.whoweare {
    order: 1;
    transform: translate(750px, 300px); 
}

.ourmission {
    order: 2;
    transform: translate(120px, 300px); 

}

.runningman {
    width: 600px;
    transform: translate(650px, -90px); 
    display: block;
}
.contact-container{
    display:flex;
    transform: translate(120px, -300px); 

}
/* Product Section */
#products {
    padding: 60px 20px;
}
.Productscontainer{
    transform: translate(0px, -600px); 

}
#products h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffffff;
}

.products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; 
}

.product {
    min-width: 280px;
    width: 300px;
    height: 500px;
    max-width: 32%;
    filter: brightness(80%);
    background-color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background-size: cover;
    background-position: center;
}

.product h3 {
    font-size: 1.5em;
    color: #ffffff;
    padding: 5px;
    margin-top: 200px;
    width: 100%; 
}

.product p {
    font-size: 1em;
    color: #666;
    padding: 5px;
    margin: 0; 
}

.view-more-link {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 40px;
    padding: 5px;
    transition: color 0.3s;
    margin-top: auto;
}

.view-more-link:hover {
    color: #60adff;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Contact Section */
#contact {
    padding: 60px 20px;
}

.contact-container {
    display: flex;
    gap: 20px;
    color: #fffcfc;
    margin-top: 20px;
}

.contact-item {
    color: #fffcfc;
    text-decoration: none;
    font-size: 1.2em;
    padding:10px;
    transition: color 0.3s;
    transform: translate(120px, 00px); 

}
.contact-item i {
    color: #ffffff;
    font-size: 1.5em;
}

.contact-item:hover {
    color: #60adff;
}

.separator {
    border-left: 4px solid #60adff; 
    height: 50px;
    transform: translate(0px,40px); 
}

.novahydration{
    width:600px;
    transform: translate(700px,-450px); 

}
.drinkguiltfree{
    transform: translate(200px,50px); 
    font-size: xx-large;

}
/* Footer */
footer {
    background-color: #000000;
    padding: 0px 100%; 
    max-height:500px;
    overflow: hidden;  
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
footer a {
    color: #fff;
    margin: 0 5px;  
    text-decoration: none;
    z-index: 1;

}
.column1{
    display: flex;
    flex-direction: column;
    /* transform: translate(-400px,-700px);  */
    margin-left: -700px;
    gap: 25px;
}
.column2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -180px;
    gap: 25px;
}
.footer-socials{
display: flex;
flex-direction: column;
margin-top: -150px;
margin-left: 900px;
}
.footer-socials a{
    font-size: 2em;
}
.footer-logo{
width: 150px;
margin-top: 50px;
}
.cutout-footer{
    width: 150%;
    margin-top: -200px;
    max-height: 400px;
    position: absolute;
    right: -240px;
    }
    @media (max-width: 992px) {
       
        .about-content {
            flex-direction: column;
            align-items: center;
        }
        .whoweare,
        .ourmission {
            width: 90%; 
        }
        .whoweare {
            transform: translate(0, 0); 
            margin-top: 200px;
        }
        .ourmission {
            transform: translate(0, 0); 
        }
        .contact-container {
            transform: translate(0, -200px); 
        }
       
    }
    